.header__paragrp{
    margin-left: 100px;
    font-size: 24px;
    font-family: fantasy;
    color: #ffffff;

  

}
.header__div--href{
    display: flex;
    margin-left: 80%;
    gap: 48px;
    margin-top:-50px;
    font-size: 20px;
    color: #ffffff;
}
body{
    background-color: #222831;
}
.Creative {
    font-size: 96px;
    margin-left: 10%;
    margin-top: 170px;
    color:#ffffff ;

}
.div__heading-first{
    font-size: 96px;
    margin-top: 100px;
    margin-left: 10%;
    color: #00ADB5;
}
.header__button{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10%;
  background-color: #00ADB5;
  color: #ffffff;
  
  
}
.header__btn{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-left: 70px;
    background-color:  #393E46;
    color: #ffffff;
   
}
.div__img--second{
    margin-left: 60%;
    margin-top: -400px;
}



