doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../header.css")
        title Document
    body 
    header
       div 
           div 
            p.header__paragrp SaulDesign
           div.header__div--href
            a(href="") Home 
            a(href="") About Me
            a(href="") Contact 
           div 
             h1.Creative Creative UI
             h1.div__heading-first Designer
             button.header__button Hire me
             button.header__btn Download CV
           div 
        
           img( class="div__img--second" src="../img/Group 2345.png", alt="")
        div 
           img(src="../img/doodles mixed round.png U", alt="")

            

